name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: android-actions/setup-android@v3
      - name: Accept Licenses
        run: yes | sdkmanager --licenses || true
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Build APK
        run: |
          pip install flet pandas websockets
          mkdir -p assets
          touch assets/icon.png
          yes | flutter doctor --android-licenses || true
          flet build apk --project "RickAlgo"
      - uses: actions/upload-artifact@v4
        with:
          name: RickAlgo-VIP-Final
          path: build/apk/*.apk
