name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install Tools
        run: |
          pip install --upgrade pip
          pip install flet pandas websockets
      - name: Build APK
        run: |
          mkdir -p assets
          touch assets/icon.png
          flet build apk --project "RickAlgo"
      - uses: actions/upload-artifact@v4
        with:
          name: RickAlgo-Final
          path: build/apk/*.apk
